.movies {
    background-color: goldenrod;
    padding: 20px 0px ;
}

.movie-details {
    padding: 20px 250px;
}

.movies select {
    margin: 0px 10px;
    border: none;
    background-color: darkslategray;
    color: plum;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    outline: none
}