nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 55px;
    background-color: darkslategray;
}

nav .menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

nav img {
   margin-right: 300px;
   vertical-align:middle;
   padding-bottom: 2px;
}

nav a:link {
    color: plum;
    text-decoration: none;
    font-weight: 500;
    height: 55px;
    line-height: 55px;
}

nav a:link:hover {
    background-color:rgba(72, 114, 114, 0.414);
    font-weight: bold;
    color: lightcoral
}

