.people {
    background-color: cornflowerblue;
    padding: 20px 0px ;
}

.people input {
    border: none;
    background-color: plum;
    color: darkslategray;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    outline: none;
    height: 15px;
}

.people input:focus {
    background-color: lightcoral;
}

.people button {
    background-color: plum;
    outline: none;
    border: none;
    line-height: 23px;
}

.people img {
    vertical-align:text-bottom;
}

.people-details {
    padding: 20px 250px;
}

.person-details {
    background-color: darksalmon;
    margin: 0px 100px;
    padding: 10px 0px
}

.person-details:hover {
    background-color: lightcoral;

}
